@tailwind base;
@tailwind components;
@tailwind utilities;
.servises_link{

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color:#00bafc;
}
.services_item {
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
